@import url("https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&family=Lemonada:wght@300..700&display=swap");

:root {
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: rgba(17, 24, 38, 1);
  color: rgba(240, 245, 254, 1);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button:hover {
  scale: 120%;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-left: auto;
}
.header__icon {
  display: none;
}

.header__icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  background: transparent;
  display: flex;
  height: 48px;
  background: rgba(44, 82, 107, 1);
}
.header__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;

  z-index: -1;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
  background: rgba(44, 82, 107, 1);
}
.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: end;
}
.policy-terms-header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__icon {
  display: none;
}
.header__icon-button {
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 12px;
  position: relative;
}

.navigation__list {
  display: flex;
  flex-direction: column;

  align-items: center;

  top: 130px;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 557px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 999;

  padding: 0px 32px;

  border-radius: 0px 0px 20px 20px;
  gap: 28px;
  background: linear-gradient(180deg, #2c526b 0%, #111826 100%);
}
.navigation__list.is-open {
  right: 0;
}
.navigation__link {
  font-family: Archivo Narrow;
  font-size: 20px;
  font-weight: 600;
  line-height: 22px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  text-decoration: none;
  color: rgba(240, 245, 254, 1);
}

.header.is-open {
  background-color: transparent;
}
.navigation-img {
  display: none;
}

@media screen and (min-width: 1200px) {
  .navigation-img {
    display: flex;
  }
  .policy-terms-header__icon--menu {
    display: none;
  }

  .header {
    width: 100%;

    height: 90px;
    padding: 10px 20px 10px 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1000;
  }
  .header__background {
  }

  .header__icon-button {
    display: none;
  }

  .navigation {
    display: flex;

    flex-direction: row;

    flex: 1;
    padding: 0;

    width: 1440px;
    margin: auto;
  }
  .navigation__list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;

    padding-block: 0;
    flex: 1;
    gap: 100px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }
  .navigation__link {
    font-family: Archivo Narrow;
    font-size: 16px;
    font-weight: 500;
    line-height: 21.55px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    text-decoration: none;
  }

  .header__icon-home-img {
    display: none;
  }
  .navigation__item-desk {
    display: none;
  }
}

.home {
  width: 375px;
  height: 812px;

  padding: 198px 16px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/image/home/1_home_mob.png");
  margin: auto;
}

.home__container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-title-one {
  width: 343px;
  height: 177px;
}
.home-title {
  font-family: Lemonada;
  font-size: 44px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: -0.05em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(32, 79, 142, 1);
  text-shadow: 1px 2px 4px rgba(65, 6, 0, 1);
}

.home-text {
  font-family: Archivo Narrow;
  font-size: 34px;
  font-weight: 700;
  line-height: 38px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding: 22px 0 27px;
  text-shadow: 1px 2px 4px rgba(65, 6, 0, 1);
}

@media screen and (min-width: 1200px) {
  .home {
    width: 1440px;
    height: 900px;

    padding: 160px 446px 0px;
    background-image: url("/image/home/1_home.png");
  }

  .home-title-one {
    width: 512px;
    height: 263px;
  }
  .home-title {
    font-family: Lemonada;
    font-size: 72px;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: -0.05em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .home-text {
    font-family: Archivo Narrow;
    font-size: 40px;
    font-weight: 700;
    line-height: 53.88px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    padding: 22px 0 44px;
  }
}
.about {
  padding: 24px 16px 0px;
  margin: auto;
  width: 375px;
  height: 684px;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/image/about/2_about_mob.png");
}

.about-title {
  margin-left: -16px;
  width: 333px;
  height: 76px;
  padding: 8px 24px 8px 0px;
  border-radius: 0px 40px 40px 0px;
  background: rgba(44, 82, 107, 1);

  font-family: Lemonada;
  font-size: 30px;
  font-weight: 700;
  line-height: 59.94px;
  letter-spacing: -0.05em;
  text-align: right;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.about-text-bold {
  color: rgba(17, 24, 38, 1);
  font-family: Archivo Narrow;
  font-size: 20px;
  font-weight: 600;
  line-height: 22px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding: 203px 0 50px;
}
.about-text {
  padding: 0 95px 0 22px;
  font-family: Archivo Narrow;
  font-size: 16px;
  font-weight: 500;
  line-height: 21.55px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

@media screen and (min-width: 1200px) {
  .about {
    padding: 40px 0px 0;
    margin: auto;
    width: 1440px;
    height: 771px;
    background-image: url("/image/about/2_about.png");
  }

  .about-title {
    margin-left: px;
    width: 523px;
    height: 96px;
    font-family: Lemonada;
    font-size: 40px;
    font-weight: 700;
    line-height: 79.92px;
    letter-spacing: -0.05em;
  }
  .about-text-bold {
    font-family: Archivo Narrow;
    font-size: 24px;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    width: 568px;
    margin: auto;

    padding: 355px 0 28px;
  }
  .about-text {
    padding: 0;
    color: rgba(17, 24, 38, 1);
    width: 726px;
    margin: auto;
    font-family: Archivo Narrow;
    font-size: 16px;
    font-weight: 500;
    line-height: 21.55px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}
.how {
  width: 375px;

  margin: auto;
  padding: 24px 16px;
}
.how-text-one {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/image/how/howTo.png");
  width: 375px;
  height: 223px;
  margin-left: -16px;
  margin-top: 32px;
  margin-bottom: 12px;

  font-family: Archivo Narrow;
  font-size: 28px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(44, 82, 107, 1);
  padding: 47px 20px 0;
}
.how-list {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.how-item {
  width: 312px;
  height: 289px;
  padding: 20px 16px 20px 16px;
  background: rgba(44, 82, 107, 1);
  box-shadow: 0px 0px 12px 0px rgba(255, 255, 255, 1) inset;
  border-radius: 40px;
  margin: auto;
}
.how-img {
  margin: auto;
}
.how-text-bold {
  font-family: Archivo Narrow;
  font-size: 24px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.how-text {
  padding: 12px 0;
  font-family: Archivo Narrow;
  font-size: 16px;
  font-weight: 500;
  line-height: 21.55px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

@media screen and (min-width: 1200px) {
  .how {
    width: 1440px;

    margin: auto;
    padding: 20px 0px 62px;
  }
  .how-text-one {
    background-image: url("/image/how/howTo\ \(1\).png");
    width: 599px;
    height: 220px;

    margin-left: 693px;
    margin-top: -102px;
    margin-bottom: 24px;

    font-family: Archivo Narrow;
    font-size: 30px;
    font-weight: 600;
    line-height: 34px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    padding: 64px 40px 0;
  }
  .how-list {
    padding: 0 60px;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
}

.reviews {
  width: 375px;

  margin: auto;
  padding: 24px 16px 0;
}

.reviews-list {
  width: auto;
  padding-top: 32px;

  margin: auto;
}
.reviews-item {
  margin: 0 5px;
  width: 280px;

  padding: 21px 16px 21px 16px;

  border-radius: 24px;

  background: rgba(29, 39, 60, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.3);

  box-shadow: 0px 0px 12px 0px rgba(44, 82, 107, 1) inset;
}
.reviews-item-top {
  display: flex;
  gap: 24px;
  align-items: center;

  height: 40px;
}
.reviews-text-bold {
  font-family: Archivo Narrow;
  font-size: 20px;
  font-weight: 600;
  line-height: 22px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.reviews-text {
  padding-top: 12px;
  font-family: Archivo Narrow;
  font-size: 16px;
  font-weight: 500;
  line-height: 21.55px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.reviews-image {
  display: none;
}
@media screen and (min-width: 1200px) {
  .reviews {
    width: 1440px;

    margin: auto;
    padding: 40px 0px;
  }
  .reviews-image {
    display: flex;
    margin-top: -130px;
    margin-left: 900px;
  }
  .reviews-list {
    width: auto;
    padding-top: 58px;
    margin: auto;
  }
  .reviews-item {
    margin: 0 15px;
    width: 392px;
  }
  .reviews-item-top {
    display: flex;
    gap: 24px;
    align-items: center;

    height: 40px;
  }
  .reviews-text-bold {
    font-family: Archivo Narrow;
    font-size: 24px;
    font-weight: 700;
    line-height: 26px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .reviews-text {
    padding-top: 12px;

    font-family: Archivo Narrow;
    font-size: 16px;
    font-weight: 500;
    line-height: 21.55px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}

.faq {
  padding: 75px 16px 42px;
  margin: auto;
  width: 375px;
}
.faq-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: auto;
  background: rgba(214, 209, 199, 1);
  border: 6px solid rgba(44, 82, 107, 1);
  width: 335px;
  padding: 24px;
  border-radius: 24px;
  border: 6px;
  margin-top: 26px;
}

.faq-item {
  border-radius: 16px;
  background: rgba(17, 24, 38, 1);
  padding: 17px 32px;
  width: 295px;
  height: 170px;
  display: flex;
  flex-direction: column;

  justify-content: center;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: Archivo Narrow;
  font-size: 20px;
  font-weight: 600;
  line-height: 22px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.toggle-button {
  background: none;
  border: none;

  cursor: pointer;
}

.faq-answer {
  display: none;
  padding-top: 16px;

  font-family: Archivo Narrow;
  font-size: 16px;
  font-weight: 500;
  line-height: 21.55px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.faq-img {
  display: none;
}
@media screen and (min-width: 1200px) {
  .faq {
    padding: 22px 80px 56px 0;
    margin: auto;
    width: 1440px;
  }
  .faq-div {
    display: flex;
    align-items: center;
  }
  .faq-img {
    display: flex;
  }
  .faq-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 21px;
    margin: 0;
    align-items: center;
    justify-content: center;
    width: 937px;
    padding: 25px;
    border-radius: 40px;

    margin-top: 0px;
  }

  .faq-item {
    width: 400px;
    height: 172px;
    display: flex;
    flex-direction: column;

    justify-content: center;
  }

  .faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-family: Archivo Narrow;
    font-size: 24px;
    font-weight: 700;
    line-height: 26px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .faq-answer {
    display: none;
    padding-top: 16px;

    font-family: Archivo Narrow;
    font-size: 16px;
    font-weight: 500;
    line-height: 21.55px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}
.gallery {
  width: 375px;
  height: 445px;

  margin: auto;
  padding: 0px 16px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/image/gallery/5_Gallery_mob.png");
}

.gallery__list {
  width: auto;
  padding-top: 100px;
  padding-bottom: 20px;
  margin: auto;
}
.gallery__item {
  width: 317px;
  height: 156px;

  overflow: hidden;
  position: relative;
  margin: 0 4px;
}

.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media screen and (min-width: 1200px) {
  .gallery {
    width: 1440px;
    height: 602px;
    background-image: url("/image/gallery/5_Gallery.png");
    margin: auto;
    padding: 40px 0 0;
  }

  .gallery__item {
    width: 580px;
    height: 286px;
    margin: 0 10px;
    overflow: hidden;
    position: relative;
  }

  .gallery__list {
    width: auto;
    padding: 44px 0 40px;
  }
}
.features {
  width: 375px;
  height: 1090px;
  margin: auto;
  padding: 24px 16px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/image/features/4_gameFeatures_mob.png");
}
.features-text-bold {
  color: rgba(17, 24, 38, 1);
  font-family: Archivo Narrow;
  font-size: 28px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  width: 343px;
  height: 140px;
  padding: 10px;
  border-radius: 40px;
  box-shadow: 0px 0px 4px 0px rgba(33, 40, 53, 1) inset;
  background: rgba(209, 157, 64, 1);
  margin: 212px auto 20px;
}
.features-list {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.features-item {
  width: 343px;
  padding: 12px 24px 12px 24px;
  border-radius: 24px;
  box-shadow: 0px 0px 4px 0px rgba(255, 255, 255, 1) inset;
  background: rgba(17, 24, 38, 1);
  display: flex;
  align-items: center;
  gap: 10px;
}

.features-text {
  font-family: Archivo Narrow;
  font-size: 20px;
  font-weight: 600;
  line-height: 22px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

@media screen and (min-width: 1200px) {
  .features {
    width: 1440px;
    height: 854px;
    margin: auto;
    padding: 40px 0px 0px;

    background-image: url("/image/features/4_gameFeatures.png");
  }
  .features-text-bold {
    font-family: Archivo Narrow;
    font-size: 30px;
    font-weight: 600;
    line-height: 34px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    width: 551px;
    height: 122px;

    margin: 32px auto 24px;
  }
  .features-list {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0 100px;
  }
  .features-item {
    width: fit-content;
    padding: 24px;

    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
    margin-left: auto;
  }

  .features-text {
    font-family: Archivo Narrow;
    font-size: 24px;
    font-weight: 700;
    line-height: 26px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}
.footer {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/image/footer/8_footer_mob.png");
  width: 375px;
  height: 176px;
  margin: auto;

  color: #ffffff;
  padding: 40px 16px;
}
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.footer-wrapper {
  display: flex;
  flex-direction: row;

  align-items: center;

  gap: 16px;
}
.footer-text {
  font-family: Archivo Narrow;
  font-size: 16px;
  font-weight: 500;
  line-height: 21.55px;
  text-align: left;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-underline-position: from-font;
  text-decoration-skip-ink: auto;

  color: #ffffff;
}

.footer-copyright {
  font-family: Archivo Narrow;
  font-size: 16px;
  font-weight: 500;
  line-height: 21.55px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

@media screen and (min-width: 1200px) {
  .footer {
    padding: 44px 199px;
    width: 1440px;
    height: 357px;

    background-image: url("/image/footer/8_footer.png");
  }
  .footer-container {
    gap: 46px;
  }

  .footer-wrapper {
    gap: 34px;
  }
  .footer-text {
    font-family: Archivo Narrow;
    font-size: 24px;
    font-weight: 700;
    line-height: 26px;
    text-align: left;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-underline-position: from-font;
    text-decoration-skip-ink: auto;
  }

  .footer-copyright {
    font-family: Archivo Narrow;
    font-size: 16px;
    font-weight: 500;
    line-height: 21.55px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}
.policy-terms-container {
  padding: 76px 16px 40px;
  width: 375px;
  margin: auto;
}
.policy-terms-title {
  font-family: Lemonada;
  font-size: 30px;
  font-weight: 700;
  line-height: 59.94px;
  letter-spacing: -0.05em;
  text-align: right;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-shadow: 0px 3px 4px rgba(33, 40, 53, 1);
  width: 359px;
  height: 76px;
  margin-left: -16px;
  padding: 8px 24px 8px 0px;
  border-radius: 0px 40px 40px 0px;
  background: rgba(44, 82, 107, 1);
}

.policy-terms-text {
  font-family: Archivo Narrow;
  font-size: 28px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(253, 241, 49, 1);
  padding-top: 20px;
}
.policy-terms-texts {
  font-family: Archivo Narrow;
  font-size: 16px;
  font-weight: 500;
  line-height: 21.55px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding-top: 8px;
}
.policy-terms-text-one {
  font-family: Archivo Narrow;
  font-size: 16px;
  font-weight: 500;
  line-height: 21.55px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding-top: 20px;
}

.terms-list {
  list-style-type: disc;

  padding: 20px 0 20px 25px;
  font-family: Archivo Narrow;
  font-size: 16px;
  font-weight: 500;
  line-height: 21.55px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  display: flex;
  flex-direction: column;
}

.terms-lists {
  list-style-type: disc;

  padding-left: 25px;
  font-family: Archivo Narrow;
  font-size: 16px;
  font-weight: 500;
  line-height: 21.55px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.email-link {
  color: inherit;
  text-decoration: none;
}
.email-link-color {
  color: inherit;
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .policy-terms-container {
    padding: 100px 172px 56px;
    width: 1440px;
  }
  .policy-terms-title {
    font-family: Lemonada;
    font-size: 40px;
    font-weight: 700;
    line-height: 79.92px;
    letter-spacing: -0.05em;
    text-align: right;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    width: 874px;
    height: 96px;
    margin-left: -172px;
  }

  .policy-terms-text {
    font-family: Archivo Narrow;
    font-size: 30px;
    font-weight: 600;
    line-height: 34px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    padding-top: 40px;
  }
  .policy-terms-texts {
    font-family: Archivo Narrow;
    font-size: 16px;
    font-weight: 500;
    line-height: 21.55px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .policy-terms-text-one {
    font-family: Archivo Narrow;
    font-size: 16px;
    font-weight: 500;
    line-height: 21.55px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding-top: 30px;
  }

  .terms-list {
    list-style-type: disc;

    padding: 20px 0 20px 25px;
    font-family: Archivo Narrow;
    font-size: 16px;
    font-weight: 500;
    line-height: 21.55px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    display: flex;
    flex-direction: column;
  }

  .terms-lists {
    list-style-type: disc;

    font-family: Archivo Narrow;
    font-size: 16px;
    font-weight: 500;
    line-height: 21.55px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}
